*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
}
@-webkit-keyframes rotate-out-diag-1{0%{-webkit-transform:rotate3d(1,1,0,360deg);transform:rotate3d(1,1,0,360deg);opacity:1}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:0}}@keyframes rotate-out-diag-1{0%{-webkit-transform:rotate3d(1,1,0,360deg);transform:rotate3d(1,1,0,360deg);opacity:1}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}
@-webkit-keyframes scale-up-center {0%{-webkit-transform: scale(0.5);transform: scale(0.5);}100% {-webkit-transform: scale(1);transform: scale(1);}}@keyframes scale-up-center {0% {-webkit-transform: scale(0.5);transform: scale(0.5);}100% {-webkit-transform: scale(1);transform: scale(1);}}
body{
    background-color: #121212;
    color: #fff;
    overflow-x: hidden;
}
a{
    color: #ffffff;
    text-decoration: none;
}
header{
    background-color: #151515;
    height: 100px;

    border-bottom: 3px solid #272727;
}
/* header */
.nav{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.menu-hamburguer-conteudo{
    display: none;
}
.menu-hamburguer{
    display: none;
}
.nav-list{
    display: flex;
    margin-top: 34px;
}
.nav-list li{
    margin-left: 45px;
    font-size: 24px;

    list-style-type: none;
}
.logo{
    font-size: 36px;

    margin-top: 24px;
    color: #64ED8B;
}
.logo:hover{
    -webkit-animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both;animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both
}
.logo a{
    color: #64ED8B;
}
.nav-list a:hover{
    color: #64ED8B;
}
/* Main */

    /* Apresentação */
    .apresentacao{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        height: 90vh;
    } 
    .programador{
        max-width: 900px;
        width: 49%;
    }
    .apresentacao h1{
        font-size: 40px;
        color: #64ED8B;
    }
    .apresentacao h4{
        font-size: 32px;
    }
    .links_contatos{
        margin-top: 30%;
        margin-left: 30px;
        margin-bottom: 50%;

        display: flex;
        column-gap: 20%;
    }
    .linkedin{
        max-width: 75.3px;
        max-height: 75.3px;
        width: 100%;
        height: 100%;
        background-color: #121212;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 10px;
    }
    .cont-linkedin{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-linkedin-blur{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-linkedin::before, .cont-linkedin::after{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(75.3px + 20px);
        width: calc(75.3px + 20px);
        border-radius: 10px;
        background: linear-gradient(235.73deg, #c4f2b7 10.97%,
        rgba(113, 255, 127, 0.946) 17.79%,
        rgba(114, 252, 127, 0.946) 29.32%,
        rgba(96, 205, 107, 0.865) 39.1%,
        rgba(94, 196, 104, 0.742553) 53.67%,
        rgba(51, 171, 63, 0.742553) 64.86%,
        rgba(3, 134, 16, 0.604167) 81.5%,
        rgba(0, 128, 13, 0.604167) 85.9%,
        #004908 95.65%);
        background-size: 400%;
        animation: AnimarBorda 3s alternate-reverse infinite;
    }
    .cont-linkedin-blur::after, .cont-linkedin-blur::before{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(75.3px + 20px);
        width: calc(75.3px + 20px);
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(188,255,155,0.9472163865546218) 0%, rgba(0,255,29,1) 50%, rgba(255,255,255,1) 100%);
        background-size: 300%;
        filter: blur(4px);
        animation: AnimarBorda 4s linear infinite;
        animation: blur 0.5s linear normal;
    }
    .github{
        width: 75.3px;
        height: 75.3px;
        background-color: #121212;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 10px;
    }
    .cont-github{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-github-blur{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-github::before, .cont-github::after{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(75.3px + 20px);
        width: calc(75.3px + 20px);
        border-radius: 10px;
        background: linear-gradient(235.73deg, #c4f2b7 10.97%,
        rgba(113, 255, 127, 0.946) 17.79%,
        rgba(114, 252, 127, 0.946) 29.32%,
        rgba(96, 205, 107, 0.865) 39.1%,
        rgba(94, 196, 104, 0.742553) 53.67%,
        rgba(51, 171, 63, 0.742553) 64.86%,
        rgba(3, 134, 16, 0.604167) 81.5%,
        rgba(0, 128, 13, 0.604167) 85.9%,
        #004908 95.65%);
        background-size: 400%;
        animation: AnimarBorda 3s alternate infinite;
    }
    .cont-github-blur::after, .cont-github-blur::before{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(75.3px + 20px);
        width: calc(75.3px + 20px);
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(188,255,155,0.9472163865546218) 0%, rgba(0,255,29,1) 50%, rgba(255,255,255,1) 100%);
        background-size: 300%;
        filter: blur(4px);
        animation: AnimarBorda 4s linear infinite;
        animation: blur 0.5s linear normal;
    }
    @keyframes blur{
        0%{ filter: blur(0px);}
        25%{ filter: blur(1px);}
        50%{ filter: blur(2px);}
        75%{ filter: blur(3px);}
        100%{ filter: blur(4px);}
    }
    @keyframes AnimarBorda{
        0%{
            background-position: 0;
        }
        100%{
            background-position: 100%;
        }
    }
    .separador{
        margin-left: 25vw;
        position: static;
        width: 50vw;
        border: 0.5px solid transparent;
        border-image: linear-gradient(90deg, rgba(39,39,39,1) 55%, rgba(3,253,103,1) 100%, rgba(0,212,255,1) 100%);
        border-image-slice: 1;
    }
    /* Sobre mim  */
    .sobremim{
        background: linear-gradient(129.04deg, rgba(146, 227, 169, 0.36) 23.3%, #2E353A 47.56%);
        margin-bottom: 5%;
    }
    .sobremim h1{
        font-size: 50px;
        text-align: center;

        margin-top: 5%;
        padding-top: 25px;
        margin-bottom: 7%;
        -webkit-animation: scale-up-center 0.5s ;
        animation: scale-up-center 0.5s ;
    }
    .cont-sobremim{
        margin-top: 7%;
        display: flex;
        justify-content: space-around;
        -webkit-animation: scale-up-center 0.7s ;
        animation: scale-up-center 0.7s ;
        animation-play-state: paused;
    }
    .laptop{
        max-width: 700px;
        width: 40%;
    }
    .curiculo{
        width: 140px;
    }
    .texto-sobremim{
        font-family: 'JetBrains Mono';
        text-align: left;
        text-indent: 3ch;
        width: 790px;
        font-size: 29px;
    }
    .texto-sobremim p{
        margin-bottom: 12px;
    }

    .download{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        margin-top: 5%;
        font-size: 24px;
    }
    
    .download a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @keyframes animation-download {
        from {margin-top: 0px;}
        to {margin-top: 5px;}
      }
    .download img:hover{
        margin-top: 5px;
        animation-name: animation-download;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @media(max-width:1400px){
        .texto-sobremim{
            font-family: 'JetBrains Mono';
            text-align: left;
            text-indent: 3ch;
            width: 550px;
            font-size: 20px;
        }
        .download{
            font-size: 20px;
        }
        .download img{
            width: 20% ;
        }
     
    }
    /* Habilidades  */
    .habilidades{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5% ;
        -webkit-animation: scale-up-center 0.7s ;
        animation: scale-up-center 0.7s ;
        animation-play-state: paused;
    }
    .habilidades h1{
        font-size: 40px;
    }
    .habilidades p{
        margin-top: 3%;
        width: 50%;
        text-indent: 3ch;
        font-size: 34px;
    }
    .icones-habilidades{
        margin-top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* border: 3px solid red; */
        column-gap: 50px;
    }

    @keyframes animation-habilidades{
        from {margin-top: 15px;}
        to{margin-top: 0px;}
    }
    .icone-habilidade{
        width: 100px;
        height: 100px;
        margin-top: 25px;
        transition: width 0.5s;
    }
    .icone-habilidade:hover{
        height: 110px;
        width: 110px;
        animation-name: animation-habilidades;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    /* Projetos */

    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #000;
    }
    .card-quizquest{
        margin-left: 2.5%;
        position: absolute;
        margin-top: 5%;
        -webkit-animation: scale-up-center 0.7s ;
        animation: scale-up-center 0.7s ;
        animation-play-state: paused;
    }
    .text-quizquest{
        width: 30%;
        max-height: 70%;
    }
    .card-quizquest h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .card-quizquest p{
        text-indent: 3ch;
        font-size: 26px;
    }

    .card-quizquest img{
        max-width: 60px;
        max-height: 60px;
        margin-top: 10px;
    }
    @keyframes animation-projetos-links{
        from{margin-top: 10px}
        to{margin-top: 0px;}
    }
    .card-quizquest img:hover{
        animation-name: animation-projetos-links;
        animation-iteration-count:infinite;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    .cont-img-quizquest{
        margin-top: 5%;
        display: flex;
        flex-direction: row;

        margin-right: 150px;
        column-gap: 35px;
    }
    .img-quizquest{
        width: 100vw;
        border: none;
        position: relative;
    }
    @media(max-width: 1360px){
        .card-quizquest h1{
            font-size: 20px;
            margin-bottom: 40px;
        }
        .card-quizquest p{
            text-indent: 2ch;
            font-size: 15px;
        }
        .card-quizquest img{
            max-width: 40px;
            max-height: 40px;
            margin-top: 0px;
        }
        
    }
    @media(max-width: 912px){
        .card-quizquest h1{
            font-size: 15px;
            margin-bottom: 25px;
        }
        .card-quizquest p{
            text-indent: 2ch;
            font-size: 10px;
        }
        .card-quizquest img{
            max-width: 20px;
            max-height: 20px;
            margin-top: 0px;
        }
        
    }
    /* Cont projetos */
    .cont-projetos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .cont-cells-projetos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 5%;
        width: 90vw;
        margin-top: 3%;
        margin-bottom: 10%;

    }

    .cell-projeto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;

    }
    .cell-projeto p{
        font-size: 20px;
        margin-bottom: 20px;
        height: 15px;
    }
    .btn-projetos{
        font-size: 16px;
        padding: 10px 25px 10px 25px;
        border-radius: 4px;
        background-color: #fff;
        color: #000;
        width: 70%;
        height: 20%;
        transition: width 1s, height 1s, background-color 1s, font-size 1s;
    }
    .btn-projetos{transition-timing-function: ease-out;}
    .btn-projetos:hover{
        background-color: #64ED8B;
        border: 1px solid;
        font-size: 20px;
        color: #fff;
        width: 100%;
        height: 100%;
    }
    .embreve{
        color: #64ED8B;
        border: none;
        background-color: #121212;
        font-size: 20px;
        border: 1px solid #64ED8B;
        border-radius: 7px;
        width: 70%;
        height: 30%;
        transition: width 1s, height 1s;
    }
    .embreve:hover{
        width: 100%;
        height: 100%;
    }
    .baner-projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 380px;
        height: 200px;
        border: 2px solid #64ED8B;
        border-radius: 10px;
    }
    .quiz{
        background-image: url("../img/icons/quizquest-baner.png");
    }
    .lista{
        background-image: url("../img/icons/lista.png");
    }

    .embreve-img{
        background-image: none;
        background-color: #151515;
    }
    /* Rodapé */
    .rodape{
        background-color: #151515;
        border-top: 5px solid #272727;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 140px;
    }
    .rodape span{
        display: flex;
        align-items: baseline;
    }
    .rodape h4{
        font-size: 24px;
    }
    .rodape h3{
        font-size: 32px;
        margin-left: 10px;
        color: #64ED8B;
    }
    .icones-rodape img{
        width: 50px;
        height: 50px;
        
        padding: 7px;
        border-radius: 10px;
        border: #64ED8B 2px solid;
    }
    .icones-rodape{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin-top: 15px;
    }
    .rodape p {
        user-select: text;
        font-size: 20px;
        margin-top: 10px;
    }

@media(max-width:1000px){
    header{
        background-color: #151515;
        height: 50px;
        border-bottom: 3px solid #272727;
        position: sticky;
    }
    /* header */
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .nav-list{
        display: none;
    }
    .menu-hamburguer{
        margin-top: 1.5%;
        margin-right: 10%;
        cursor: pointer;
        display: block;
    }
    .menu-hamburguer div{
        width: 35px;
        height: 2px;
        background: #64ED8B;
        margin-bottom: 7px;
        transition: 0.3s;
    }
    .menu-hamburguer-conteudo{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5%;

        height: 20vh;
        width: 100vw;
        background-color: #0e0e0e;
        transform: translatey(-70%);
        transition: transform 0.2s;
    }
    .menu-hamburguer-conteudo.active{
        transform: translatey(30%);
    }
    .menu-hamburguer-conteudo a:hover{
        color: #64ED8B;
    }
    .menu-hamburguer-conteudo li{
        list-style-type: none;
    }
    .logo{
        font-size: 30px;
        margin-left: 2%;
        margin-top: 1%;
        color: #64ED8B;
    }
    .logo:hover{
        -webkit-animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both;animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both
    }
    .logo a{
        color: #64ED8B;
    }

}
@media(max-width:520px){
    header{
        background-color: #151515;
        height: 50px;
        border-bottom: 3px solid #272727;
        position: sticky;
    }
    /* header */
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .nav-list{
        display: none;
    }
    .menu-hamburguer{
        margin-top: 0%;
        padding: 10px;
        cursor: pointer;
        display: block;
    }
    .menu-hamburguer div{
        width: 35px;
        height: 2px;
        background: #64ED8B;
        margin-bottom: 7px;
        transition: 0.3s;
    }
    .menu-hamburguer-conteudo{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5%;

        height: 20vh;
        width: 100vw;
        background-color: #0e0e0e;
        transform: translatey(-70%);
        transition: transform 0.2s;
    }
    .menu-hamburguer-conteudo.active{
        transform: translatey(30%);
    }
    .menu-hamburguer-conteudo a:hover{
        color: #64ED8B;
    }
    .menu-hamburguer-conteudo li{
        list-style-type: none;
    }
    .logo{
        font-size: 30px;
    
        margin-top: 0px;
        color: #64ED8B;
    }
    .logo:hover{
        -webkit-animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both;animation:rotate-out-diag-1 .6s cubic-bezier(.55,.085,.68,.53) both
    }
    .logo a{
        color: #64ED8B;
    }

    /* Main */

    /* Apresentação */
    .apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 90vh;
    } 
    .programador{
        max-width: 900px;
        width: 90%;
    }
    .apresentacao h1{
        
        font-size: 25px;
        color: #64ED8B;
    }
    .apresentacao h4{
        margin-top: 40%;
        font-size: 20px;
    }
    .links_contatos{
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 25%;

        display: flex;
        column-gap: 25%;
    }
    .linkedin{
        width: 37px;
        height: 37px;
        background-color: #121212;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 10px;
    }
    .cont-linkedin{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-linkedin-blur{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-linkedin::before, .cont-linkedin::after{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(37px + 17px);
        width: calc(37px + 17px);
        border-radius: 10px;
        background: linear-gradient(235.73deg, #c4f2b7 10.97%,
        rgba(113, 255, 127, 0.946) 17.79%,
        rgba(114, 252, 127, 0.946) 29.32%,
        rgba(96, 205, 107, 0.865) 39.1%,
        rgba(94, 196, 104, 0.742553) 53.67%,
        rgba(51, 171, 63, 0.742553) 64.86%,
        rgba(3, 134, 16, 0.604167) 81.5%,
        rgba(0, 128, 13, 0.604167) 85.9%,
        #004908 95.65%);
        background-size: 400%;
        animation: AnimarBorda 3s alternate-reverse infinite;
    }
    .cont-linkedin-blur::after, .cont-linkedin-blur::before{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(37px + 17px);
        width: calc(37px + 17px);
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(188,255,155,0.9472163865546218) 0%, rgba(0,255,29,1) 50%, rgba(255,255,255,1) 100%);
        background-size: 300%;
        filter: blur(4px);
        animation: AnimarBorda 4s linear infinite;
        animation: blur 0.5s linear normal;
    }
    .github{
        width: 37px;
        height: 37px;
        background-color: #121212;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 10px;
    }
    .cont-github{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-github-blur{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-github::before, .cont-github::after{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(37px + 17px);
        width: calc(37px + 17px);
        border-radius: 10px;
        background: linear-gradient(235.73deg, #c4f2b7 10.97%,
        rgba(113, 255, 127, 0.946) 17.79%,
        rgba(114, 252, 127, 0.946) 29.32%,
        rgba(96, 205, 107, 0.865) 39.1%,
        rgba(94, 196, 104, 0.742553) 53.67%,
        rgba(51, 171, 63, 0.742553) 64.86%,
        rgba(3, 134, 16, 0.604167) 81.5%,
        rgba(0, 128, 13, 0.604167) 85.9%,
        #004908 95.65%);
        background-size: 400%;
        animation: AnimarBorda 3s alternate infinite;
    }
    .cont-github-blur::after, .cont-github-blur::before{
        content: '';
        position: absolute;
        z-index: -1;
        height: calc(37px + 17px);
        width: calc(37px + 17px);
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(188,255,155,0.9472163865546218) 0%, rgba(0,255,29,1) 50%, rgba(255,255,255,1) 100%);
        background-size: 300%;
        filter: blur(4px);
        animation: AnimarBorda 4s linear infinite;
        animation: blur 0.5s linear normal;
    }
    @keyframes blur{
        0%{ filter: blur(0px);}
        25%{ filter: blur(1px);}
        50%{ filter: blur(2px);}
        75%{ filter: blur(3px);}
        100%{ filter: blur(4px);}
    }
    @keyframes AnimarBorda{
        0%{
            background-position: 0;
        }
        100%{
            background-position: 100%;
        }
    }
    .separador{
        margin-left: 25vw;
        position: static;
        width: 50vw;
        border: 0.5px solid transparent;
        border-image: linear-gradient(90deg, rgba(39,39,39,1) 55%, rgba(3,253,103,1) 100%, rgba(0,212,255,1) 100%);
        border-image-slice: 1;
    }



        /* Sobre mim  */
    .sobremim{
        background: linear-gradient(129.04deg, rgba(146, 227, 169, 0.36) 23.3%, #2E353A 47.56%);
        margin-bottom: 2%;
        height: 95vh;
    }
    .sobremim h1{
        font-size: 18px;
        text-align: center;

        margin-top: 5%;
        padding-top: 25px;
        margin-bottom: 7%;
        -webkit-animation: scale-up-center 0.5s ;
        animation: scale-up-center 0.5s ;
    }
    .cont-sobremim{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont-sobremim-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .laptop{
        max-width: 700px;
        width: 40%;
    }
    .curiculo{
        width: 140px;
    }

    .texto-sobremim{
        font-family: 'JetBrains Mono';
        width: 100%;
        margin-left: 5%;
        font-size: 14px;
        max-width: 80vw;
        text-indent: 3ch;
        margin-bottom: 6px;
    }

    .download{
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .download a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @keyframes animation-download {
        from {margin-top: 0px;}
        to {margin-top: 5px;}
      }
    .download img{
        width: 15% ;
    }
    .download p{
        font-size: 16px;
    }
    .download img:hover{
        margin-top: 5px;
        animation-name: animation-download;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
       /* Habilidades  */
       .habilidades{
        margin-top: 5%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5% ;
        -webkit-animation: scale-up-center 0.7s ;
        animation: scale-up-center 0.7s ;
        animation-play-state: paused;
    }
    .habilidades h1{
        font-size: 19px;
    }
    .habilidades p{
        margin-top: 10%;
        width: 90%;
        text-indent: 3ch;
        font-size: 16px;
    }
    .icones-habilidades{
        margin-top: 6%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 3px solid red; */
        column-gap: 2%px;
    }

    @keyframes animation-habilidades{
        from {margin-top: 15px;}
        to{margin-top: 0px;}
    }
    .icone-habilidade{
        width: 50px;
        height: 50px;
        margin-top: 25px;
        transition: width 0.5s;
    }
    .icone-habilidade:hover{
        width: 50px;
        height: 50px;
        animation-name: animation-habilidades;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
       /* Projetos */

       .projeto{
        margin-top: 10%;
        margin-bottom: 10%;
        color: #000;
    }
    .card-quizquest{
        width: 100vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 1%;
        /* -webkit-animation: scale-up-center 0.7s ;
        animation: scale-up-center 0.7s ;
        animation-play-state: paused; */
    }
    .card-quizquest h1{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .card-quizquest p{
        text-indent: 3ch;
        width: 100px;
        font-size: 8px;
    }

    .card-quizquest img{
        max-width: 15px;
        max-height: 15px;
        margin-top:0px;
    }
    @keyframes animation-projetos-links{
        from{margin-top: 10px}
        to{margin-top: 0px;}
    }
    .card-quizquest img:hover{
        /* animation-name: animation-projetos-links;
        animation-iteration-count:infinite;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear; */
    }
    .cont-img-quizquest{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        column-gap: 7px;
    }
    .img-quizquest{
        width: auto;
        border: none;
        position: relative;
    }
    /* Cont projetos */
    .cont-projetos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .cont-projetos h1{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .cont-cells-projetos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 5%;
        width: 90vw;
        margin-top: 3%;
        margin-bottom: 10%;

    }

    .cell-projeto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        margin-bottom: 4%;

    }
    .cell-projeto p{
        font-size: 12px;
        margin-bottom: 20px;
        height: 15px;
    }
    .btn-projetos{
        font-size: 10px;
        padding: auto;
        border-radius: 4px;
        background-color: #fff;
        color: #000;
        width: 70%;
        height: 20%;
        transition: width 1s, height 1s, background-color 1s, font-size 1s;
    }
    .btn-projetos{transition-timing-function: ease-out;}
    .btn-projetos:hover{
        background-color: #64ED8B;
        border: 1px solid;
        font-size: 20px;
        color: #fff;
        width: 100%;
        height: 100%;
    }
    .embreve{
        color: #64ED8B;
        border: none;
        background-color: #121212;
        font-size: 10px;
        border: 1px solid #64ED8B;
        border-radius: 7px;
        width: 60%;
        height: 20%;
        transition: width 1s, height 1s;
    }
    .embreve:hover{
        width: 100%;
        height: 100%;
    }
    .baner-projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40vw;
        height: 200px;
        border: 2px solid #64ED8B;
        border-radius: 10px;
    }
    .embreve-img{
        background-image: none;
        background-color: #151515;
    }
    /* Rodapé */
    .rodape{
        background-color: #151515;
        border-top: 5px solid #272727;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 140px;
    }
    .rodape span{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .rodape h4{
        font-size: 12px;
    }
    .rodape h3{
        font-size: 16px;
        margin-left: 10px;
        color: #64ED8B;
    }
    .icones-rodape img{
        width: 25px;
        height: 25px;
        
        padding: 7px;
        border-radius: 10px;
        border: #64ED8B 2px solid;
    }
    .icones-rodape{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        margin-top: 15px;
    }
    .rodape p {
        user-select: text;
        font-size: 10px;
        margin-top: 5px;
    }

}