.habilidades {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  -webkit-animation: scale-up-center 0.7s;
  animation: scale-up-center 0.7s;
  animation-play-state: paused;
}
.habilidades h1 {
  font-size: 40px;
}
.habilidades p {
  margin-top: 3%;
  width: 50%;
  text-indent: 3ch;
  font-size: 34px;
}
.icones-habilidades {
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  width: 80%;
}

.habilidades strong {
  color: #64ed8b;
  font-weight: 700;
}

@keyframes animation-habilidades {
  from {
    margin-top: 15px;
  }
  to {
    margin-top: 0px;
  }
}
.icone-habilidade {
  width: 70px;
  height: 70px;
  margin: 25px;
  transition: width 0.5s;
  transition: height 0.5s;
  transition: margin 0.5s;
}
.icone-habilidade:hover {
  height: 80px;
  width: 80px;
  margin: 20px;
  animation-name: animation-habilidades;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@media (max-width: 1400px) {
  .habilidades h1 {
    font-size: 30px;
  }
  .habilidades p {
    margin-top: 3%;
    width: 50%;
    text-indent: 3ch;
    font-size: 25px;
  }
}

@media (max-width: 520px) {
  .habilidades {
    margin-top: 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    -webkit-animation: scale-up-center 0.7s;
    animation: scale-up-center 0.7s;
    animation-play-state: paused;
  }
  .habilidades h1 {
    font-size: 19px;
  }
  .habilidades p {
    margin-top: 10%;
    width: 90%;
    text-indent: 3ch;
    font-size: 16px;
  }
  .icones-habilidades {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0px;
  }

  @keyframes animation-habilidades {
    from {
      margin: 0px;
    }
    to {
      margin: 0px;
    }
  }
  .icone-habilidade {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  .icone-habilidade:hover {
    width: 35px;
    height: 35px;
    height: 35px;
    margin: 5px;
  }
}
